@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">Index</h1>



<table class="table">
    <thead>
        <tr>
            <th style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="font-size: 20px; font-family: 'Festive', cursive; font-family: 'IM Fell English SC', serif;">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
